#region-<%= plural_table_name.downcase %>.container

  .region
    .region-title
      %h1
        = page_title!(I18n.t('crud.edit')+ ' ' + '<%= singular_table_name %>')

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to I18n.t('crud.show'), @<%= singular_table_name %>, class: 'btn btn-info'
      = link_to I18n.t('crud.back'), 'javascript:history.back(-1)', class: 'btn btn-warning'
