#section-<%= plural_table_name.downcase %>.container

  .section
    .title
      %h1
        = page_title!('crud.edit'+ ' ' + '<%= singular_table_name %>')

  .section
    = render 'form'

  .section
    .admin-controls
      = link_to 'crud.show', @<%= singular_table_name %>, class: 'btn btn-info'
      = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
