#section-articles.container

  .section
    .title
      %h1
        = page_title!('Editar Articulo')

  .section
    = render 'form'

  .section
    .admin-controls
      = link_to 'crud.show', @article, class: 'btn btn-info'
      = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
