#section-banners.container

  .section
    .title-page.admin-title
      %h3
        = page_title!('crud.edit'+ ' ' + 'banner')

  .section-admin
    = render 'form'

  .section
    .admin-controls
      = link_to 'crud.show', @banner, class: 'btn btn-info'
      = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
