- page_title!('LAIN - Lider mundial en adelgazamiento')
#section-index.section-total
  .container-fluid
    .container
      .clear
        %br
        %br
      .section
        .form-index
          = render 'inicio/free_call'
