#section-pages.container

  .section
    .title-page.admin-title
      %h3
        = page_title!('Editar Pagina')

  .section-admin
    = render 'form'

  .section
    .admin-controls
      = link_to 'crud.show', @page, class: 'btn btn-info'
      = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
