Hola, #{ @subscriber.first_name } #{ @subscriber.last_name },

Gracias por registrarte LAIN, nos pondremos en contacto contigo en breve.

= link_to "LAIN. www.lainadelgaza.net", root_path(:only_path=>false)
