#section-testimonies.container

  .section
    .title
      %h1
        = page_title!('crud.new' + ' ' + 'testimony')

  .section
    = render 'form'

  .section
    .admin-controls
      = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
