#section-countries.container

  .section
    .title
      %h1
        = page_title!('crud.edit'+ ' ' + 'country')

  .section
    = render 'form'

  .section
    .admin-controls
      = link_to 'crud.show', @country, class: 'btn btn-info'
      = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
