#section-subscribers.container

  .title-page
    %h3= page_title!('Subscripción')
  .container
    .section
      = render 'form'

    .section
      .admin-controls
        = link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'
