@media(max-width: 767px){
  header .navbar-default .navbar-collapse, header .navbar-default .navbar-form{
  margin-left:0px !important;
  }

  header .nav.navbar-nav li{ 
    margin: 0px 15px 0px 0px;
    text-align: center;
  }
  header .nav.navbar-nav li a{
    padding-right: 15px;
  }

  header .nav.navbar-nav li:first-child{ 
    margin-top: 8em;
    margin-left: 0px;
  }
  #main{
    margin-top: 5em;
  }

  .section-blog-fb{
    .section-fb{padding-left: 15px !important;}
    .section-blog{padding-right: 15px !important;}
    .blog-img img{margin: 10px auto;}
  }
  
  .section-suscribete{
    padding-left: 15px;
  }
  #section-index .section-contact:first-child{padding-right: 15px;}
  #section-index .section-contact:nth-child(2){padding-left: 15px;}
  #section-index .pink-text{padding: 0px;}

  #section-offices .section-sedes:last-of-type{
    border: none;
  }

  #carousel-llamada .carousel-caption{
    padding-bottom: 4.6em !important;
  }

  .footer-titles p{
   text-align: center !important;
  }
   .section-segments{
   width: 50%;
   }
   .class-responsive{
     display: block;
     height: auto;
     max-width: 100%;
   }

   .cont-responsive{
    margin-top: 8em;
    padding: 0px 15px;
   }
  
  

   .container-fluid.aqua{

    .call{
      img{margin-top: -7px;}
      margin-bottom: 5px;
      .txt{padding-left: 25%;}
      .llama{margin-left: 45% !important;}
    }
   }
}
@media(min-width: 768px){ .cont-responsive{ width: 746px; }}

@media (min-width: 992px ) and (max-width: 1199px){ #section-index .mail-pe{ font-size: 1.7em; }}
@media (min-width: 768px ) and (max-width: 991px){ #section-index .mail-pe{ font-size: 1.3em; }}
@media (min-width: 490px ) and (max-width: 619px){ #section-index .mail-pe{ font-size: 1.6em; }}
@media (min-width:390px ) and (max-width: 489px){ #section-index .mail-pe{ font-size: 1.2em; }}
@media (min-width:320px ) and (max-width: 389px){
#section-index .mail-pe{
  font-size: 1em;
  margin-left: 70px;
  padding-top: 3px;
}
.section-total .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
}

@media (max-width: 320px){
  #section-testimonies .title-page h3{ padding-right: 135px;}
  .title-page{ margin: 40px 0px 20px;}
  }

@media (max-width: 375px){
  .section-products .product-img{
    margin-left: 25%;
  }
  #testimonies{
    margin-left: 25%;
  }
}

@media(max-width: 460px){
.section-segments{
 width:100%;
 margin-top: 25px !important;
}
}


@media(max-width: 359px){
.section-images > a{width: 100%;}
.social{margin-top: 45px;}
}

@media(max-width:339px){
.blog-info{width:100%;}
.blog-img{margin-left: 25%;
margin-bottom: 10px;}
.social{margin-top: 45px;}
}

@media(min-width: 340px) and (max-width:389px){
.blog-info{width:60%;}
.social{margin-top: 45px;}
}
@media(min-width: 390px) and (max-width: 767px){
.blog-info{width:70%;}
.test-img{width: 25%;}
.test-info{width:75%;}
}

@media(min-width: 768px) and (max-width: 991px){
.blog-info{width:65%;}
.section-test-sus .section-testi .title{margin-top: 30px;}
.section-test-sus .section-testi .test-img{margin-top: 25px;}
}

@media (max-width: 1199px) and (min-width: 800px){.form-index{input[type=text]{position: absolute; margin-top: 20px;margin-left:26.7em;}
input[type="image"]{margin-left: 52.5em; margin-top: 5.5em;}
}}

@media (min-width: 768px){ .alert{width: 680px;}}
@media (min-width: 992px){ .alert{ width: 900px; }}

@media (max-width: 991px) and (min-width: 800px){.form-index{input[type=text]{position: absolute; margin-left:19.5em;}
input[type="image"]{margin-left: 40em; margin-top: 5.5em; width: 13%;}
}}

@media (max-width: 799px) and (min-width: 767px){.form-index{input[type=text]{margin-left:20.5em;}
input[type="image"]{margin-left: 40em; margin-top: 5.5em; width: 13%;}
}}

@media (max-width: 766px){.form-index{input[type=text]{margin-left:20.5em; display: none;}
input[type="image"]{display: none; margin-left: 40em; margin-top: 5.5em; width: 13%;}
}}

@media (min-width: 635px) and (max-width: 767px){
.test-img{width:25%;}
.test-info{width: 70%; margin-left: 20px;}
}

//CAll

@media (max-width: 991px){ 
.form-index{background-size: contain;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{margin-left: 15em !important;}
.nav.navbar-nav li:first-child{ margin-left: -25px;}
.nav.navbar-nav li a{height: 51px; padding: 15px 9.5px; line-height: none; font-size: 14px !important;}
header .active{padding: 16px 9.5px !important; height: 51px !important; font-size: 14px !important;}


}

@media(min-width: 992px){ 
.form-index{background-size: cover;}
}

