@media(max-width: 767px){
  header .navbar-default .navbar-collapse, header .navbar-default .navbar-form{
  margin-left:0px;
  }

  header .nav.navbar-nav li{ 
    margin: 0px 15px 0px 0px;
    text-align: center;
  }
  header .nav.navbar-nav li a{
    padding-right: 15px;
  }

  header .nav.navbar-nav li:first-child{ 
    margin-top: 8em;
  }
  #main{
    margin-top: 5em;
  }

  .section-blog-fb{
    .section-fb{padding-left: 15px !important;}
    .section-blog{padding-right: 15px !important;}
    .blog-img img{margin: 10px auto;}
  }
  
  .section-suscribete{
    padding-left: 15px;
  }
  #section-index .section-contact:first-child{padding-right: 15px;}
  #section-index .section-contact:nth-child(2){padding-left: 15px;}
  #section-index .pink-text{padding: 0px;}

  .footer-titles p{
   text-align: center !important;
  }
   .section-segments{
   width: 50%;
   }
   .class-responsive{
     display: block;
     height: auto;
     max-width: 100%;
   }


   .cont-responsive{
    margin-top: 8em;
    padding: 0px 15px;
   }
}
@media(min-width: 768px){
  .cont-responsive{
    width: 746px;
  }
}


@media(max-width: 460px){
.section-segments{
 width:100%;
 margin-top: 25px !important;
}
}



@media (max-width: 1199px) and (min-width: 800px){.form-index{input[type=text]{position: absolute; margin-top: 20px;margin-left:26.7em;}
input[type="image"]{margin-left: 52.5em; margin-top: 5.5em;}
}}

@media (max-width: 991px) and (min-width: 800px){.form-index{input[type=text]{position: absolute; margin-left:19.5em;}
input[type="image"]{margin-left: 40em; margin-top: 5.5em; width: 13%;}
}}

@media (max-width: 799px) and (min-width: 767px){.form-index{input[type=text]{margin-left:20.5em;}
input[type="image"]{margin-left: 40em; margin-top: 5.5em; width: 13%;}
}}

@media (max-width: 766px){.form-index{input[type=text]{margin-left:20.5em;}
input[type="image"]{display: none; margin-left: 40em; margin-top: 5.5em; width: 13%;}
}}


//CAll

@media(max-width: 991px){ 
.form-index{background-size: contain;}
}

@media(min-width: 992px){ 
.form-index{background-size: cover;}
}

