#region-products.container

  .region
    .region-title
      %h1
        = page_title!(I18n.t('crud.new') + ' ' + 'product')

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to I18n.t('crud.back'), 'javascript:history.back(-1)', class: 'btn btn-warning'
