.container
  .section
    .section-images
      = link_to '',products_path, class: 'section-img-prod'
      = link_to '',new_computest_path, class: 'section-img-compu'
      = link_to '',testimonies_path(type: 'video'), class: 'section-img-vid'
      = link_to '',testimonies_path(type: 'antesydespues'), class: 'section-img-foto'
