#footer
  .container-fluid.aqua
    .container
      .call
        = image_tag(image_path('phone.png'))
        %h2.llama ¡Llama YA!
        %h1.telefono
          %i 206 3400
        %h4.txt Tenemos un mundo de beneficios esperando por tí.
