.container-fluid.aqua
  .container
    .call
      = image_tag(image_path('phone.png'))
      %h2.llama ¡Llama YA!
      %p.telefono
        %i 2242614
        -#%i= @country.telefono
      %h4.txt Tenemos un mundo de beneficios esperando por tí.


