-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if params[:locale] == 'gt'
        = link_to image_tag(image_path('logo-less.png')), home_path, class: 'navbar-brand', :'data-no-turbolink' => true
      - else
        = link_to image_tag(image_path('logo-lain-2.png')), home_path, class: 'navbar-brand', :'data-no-turbolink' => true

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
